*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:inter ;
}

.site-header{
    width:100%;
    height: 92px;
    background-color: #ffffff ;

}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 16px 120px;
}
.logo{
    width: 139px;
    height: 60px;
}
.menu{
    list-style-type: none;
    gap: 32px;
    display: flex;
    
}
.menu  a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}
.menu a:hover{
   color: #2e7d32; 
}
.btn{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:rgba(255,255,255,1);
    box-sizing: border-box;
    padding: 12px 16px;
    border-radius: 4px;
}
.btn-nav{
    background-color: #30B868;
}


.bannar{
    background-image: url("images/hero-bg.png");
    background-repeat: no-repeat;
    position: relative;
    width:100%;
    height:100vh;
    padding: 70px 120px 134px;
    
}
.section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.overlay{
    position: absolute;
    linear-gradient(rgba(0,25,49,0.8));
}
    
.btn-1{
    width: 229px;
    height: 36px;
    background-color: rgba(255,255,255,1);
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

}
/*.container{
    width:1600px;
    max-width:85%;
}*/
.content{
    
    position: relative;
    text-align: center;
}
.content h1{
    margin: 16px auto; 
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    color: rgba(255,255,255,1);
}

 .content span{
    color: rgba(48,184,104,1);
} 
.description{
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255,255,255,1);
}

.btn-hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btns{
    gap:16px;
}
.btn-2{
    border: 1px solid  rgba(255,255,255,1);
} 
.fa-play{
     color: (255,255,255,1);
     width: 20px;
     height: 20px;  
}
.section-2{
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
    padding:120px;

}
