*{
    margin: 0;
    padding: 0;
    font-family:inter ;
    box-sizing: border-box;
}

.site-header{
   

}

.navbar{
    width:100%;
    max-width: 100%;
    height: 92px;
    box-sizing: border-box;
    background-color: #ffffff ;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 16px 120px;
}
.logo{
    width: 139px;
    height: 60px;
}
.menu{
    list-style-type: none;
    gap: 32px;
    display: flex;
    
}
.menu  a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}
.menu a:hover{
   color: #2e7d32; 
}
.btn{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:rgba(255,255,255,1);
    box-sizing: border-box;
    padding: 12px 16px;
    border-radius: 4px;
}
.btn-nav{
    background-color:rgba(70, 145, 101, 1);
}


.section-1{
    background-image: url("images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    height:100vh;
    box-sizing: border-box;

    padding: 70px 120px 134px;

    
}

.overlay{
    position: absolute;
    linear-gradient(rgba(0,25,49,0.8));
}
    
.btn-1{
    width: 229px;
    height: 36px;
    background-color: rgba(255,255,255,1);
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

}
.content-box{
    width: 1360px;
    height: 380px;
    position: relative;
    text-align: center;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:32px;
    

} 
.content h1{
    margin: 16px auto; 
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    color: rgba(255,255,255,1);
}
.content span{
    color: rgba(48,184,104,1);
} 
.description{
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255,255,255,1);
}

.btn-hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btns{
    gap:16px;
}
.btn-2{
    border: 1px solid  rgba(255,255,255,1);
} 
.fa-play{
     color: (255,255,255,1);
     width: 20px;
     height: 20px;  
}
.section-2{
    width: 100%;
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 44px;
    padding:120px;
}
.section-3{
    width: 1600px;
    height: 840px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:row;
    gap: 40px;
    padding: 120px;

}
.section-4{
    width: 1600px;
    height: 506px;
    background-color: rgba(255,255,255,1);
   
}
.section-4-container{
    width: 1360px;
    height: 384px;
    margin: 2px 120px 120px;
    padding: 80px 40px;
    border-radius: 12px;
    background-color: rgba(247,246,242,1);
   
}
.section-4-contant{
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    width: 1280px;
    height: 250px;
    text-align: center;
}


.section-4-contant1 h3 {
   
    font-size: 40px;
    font-weight: 700;
    color: rgba(0,25,49,1);
}
.section-4-contant1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
}
.section-4-btn{
    width: 194px ;
    height:52p;
    display: block;
    margin: 0 auto;
}
.section-4-btn a{
    box-shadow: 0px 10px 20px 9px;
}
.section-4-contant2 p{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
footer{
    background: rgba(0,25,49,1);
    width:100%;
    height:348px ;
}
.footer-section{
    width: 1360px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 80px;
    padding: 120px 120px 30px 120px;
}
.f-section1{
    width: 1360px;
    height: 64px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: flex-start;
   
}
.f-section2{
    width: 1360px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 30px;
}
h6{
    width: 113px;
    height: 28px;
    color: rgba(255,255,255,1);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.social-links  {
    display:flex;
    list-style: none;
    gap: 16px;
    margin-top: 16px;
}
.social-links li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fa-facebook{
    

}

.social-links li i{
    font-size: 14.25px;
    color: rgba(0,0,0,1);

}
#footer-hr{
    width: 1360px;
    height: 0px;
    color: 1px solid #e5e7eb;
    opacity: 0.2;
}
#footer-p{
    width: 1360px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(250,250,250,1);
    margin:30px 120px;

}

